.botao {
  padding: 25px;
  outline: none;
  border: none;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  background-color: #046ee5;
  color: white;
  font-weight: 600;
  font-size: 16px;
  max-width: 350px;
}

.botao:hover {
    background-color: #589fe6;
}

@media (max-width: 768px) {
  .botao {
    padding: 20px;
    font-size: 14px;
  }
}
